$progress-bar-blue:#556EE6;
$progress-bar-green: #6FCF97;
$progress-bar-grey: #DFDFDF;

.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 11px solid $progress-bar-grey;
  width: 100%;
  top: 15px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid $progress-bar-grey;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: $progress-bar-grey;
  margin-bottom: 6px;
  color: white;
  &-big{
    width: 36px;
    height: 36px;
  }
  &-small{
    margin-top: 10px;
    width: 20px;
    height: 20px;
  }
}

.stepper-item.active .step-counter {
  //font-weight: bold;
  background-color: $progress-bar-blue;
}

.stepper-item.completed .step-counter {
  background-color: $progress-bar-blue;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 11px solid $progress-bar-blue;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 3;
}

.stepper-item.completed.green::after {
  border-bottom-color: $progress-bar-green;
}
.stepper-item.active.green  .step-counter{
  //font-weight: bold;
  background-color: $progress-bar-green;
}

.stepper-item.completed.green .step-counter{
  background-color: $progress-bar-green;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
